TWILIO_ACCOUNT_SID=<your account sid>
TWILIO_AUTH_TOKEN=<your auth token>
GOOGLE_APPLICATION_CREDENTIALS=/opt/dialer-server/gaccount.json
SPECIAL_PHONE_NUMBER=<your approved number -- likely the one your registered with>
TWILIO_PHONE_NUMBER=<your twilio phone number>